.App {
  /* text-align: center; */
  margin: 0px 50px 0px 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.App-foods {
  text-align: left;
}
.App-foods img {
  width: 150px;
  margin-left: 30px;
  padding: 0px;
}
.App-foods p {
  font-weight: bold;
  font-size: 20px;
  margin-left: 30px;
  text-align: left;
} */

.App-foodsGlobal-03 {
  /* width: 95%; */
  text-align: center;
}
.App-foodsTitulo-03 {
  font-weight: bold;
  text-align: center;
  /* width: 450px; */
  font-size: 20px;
}
.App-foodsLista-03 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  /* width: 90%; */
  /* margin: 0px 50px 0px 50px; */
}